h1.header {
    font-family: cursive;
    text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: rgb(255, 180, 239);
  position: relative;
}

.navbar a {
  float: right;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: left;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.picture {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin:auto;
    text-align: center;
}

p.quote {
    font-style: italic;    
}

/* About Me */

.row {
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

.about {
  -ms-flex: 70%;
  flex: 70%;
  background-color:#f5d2f3e5;
  padding: 20px;
  box-sizing: border-box;
}

/* Fun Facts */

div.book {
  margin: 0 auto;
  width: 40%;
  background-color: rgb(255, 215, 253);
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

div.caption {
padding: 10px 20px;
text-align: center;
}

/* Song/Movie */

.column {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  height: 300px;
  text-align: center;
  font-family: monospace;

}

.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
  text-align: center;
}

.blank {
  background-color: white;
  color: white;
}

/* Resume */

.portfolio
{
  text-align: center;
  font-size: larger;
}


/* Blog */
.multimedia {
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

.enjoyment {
  -ms-flex: 70%;
  flex: 70%;
  background-color:#def7e9e5;
  padding: 20px;
  box-sizing: border-box;
}

.description {
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

.why {
  -ms-flex: 70%;
  flex: 70%;
  background-color:#c4f7e8e5;
  padding: 20px;
  box-sizing: border-box;
}


/* Button */


div.talk {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: rgb(184, 236, 238);
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
}



#addComments {
  width: 20%;
  padding: 5px;
  background-color: rgb(241, 192, 247);
  color: rgb(0, 0, 0);
  align-self: center;
}

.wrapper > button {
  margin-right: 5px;
  padding: 5px;
  background-color: rgb(241, 192, 247);
  color: rgb(0, 0, 0);
}


/* Footer */

footer {
    text-align: center;
    font-size: medium;
}