<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="public/img/favicon.ico" rel="icon">

    <link rel="stylesheet" href="public/css/main.css">

    <script src="https://kit.fontawesome.com/04ce7e6ce3.js" crossorigin="anonymous"></script>

    <title>Home</title>
        <h1 class="header">Humayra Ahmed's Portfolio</h1>
    </head>
    <body>


<!-- Navbar -->
<nav id="navbar" class="navbar">
    <div class="navbar">
        <a href="./trivia">Trivia</a>
        <a href="./my_resume">My Resume</a>
        <a href="./my_fun_facts">Fun Facts</a>
        <a href="./index">Home</a>
    </nav>
    </div>

    <br>

        <!-- My information -->

        <section class="picture">
            <img src="public/img/me.jpg" alt="me" style="width:100%">
            <h1>Humayra Ahmed</h1>
            <p class="quote">Treat People With Kindness - Harry Styles</p>
            <br>
        </section> <br><br>


        <!-- About Me -->    
        <section class="row">
            <section class="about">
            <h2>About Me</h2>
            <h4>Welcome to my page!</h4>
            <p>My name is Humayra Ahmed and I am currently a student at Oakland University! I am getting a degree in Information Technology. I am in my second year and hopefully two more years to go! I am from Warren, Michigan and I've basically lived here my whole life.</p>
            <br>

            <h2>Professional Life</h2>
            <h4>Career Goal</h4>
            <p>In the past, I have gained two years of customer service experience working as a cashier. Currently, I am a data entry clerk dealing with entering data. In the future, I plan on doing something related to web design. That is what interests me the most and I have a passion for it.</p>
            <br>

            <h2 class="background">Progress to Degree</h2>
            <h4>50% of the way there!</h4>
                        <label for="file">Progress to Degree:</label>
                        <progress id="file" value="50" max="100">50%</progress>
                        <br><br>
                        </section>
                    </section>
                </section>

                <br>
                <hr>



        <!-- Footer -->
        <section class="footer">
        <footer>
            &copy; 2021 Humayra Ahmed
            <br>
            <br>
            <a href="https://www.linkedin.com/" aria-label="LinkedIn"> 
                <i class="fab fa-linkedin"></i></a>
            <a href="https://www.gmail.com/" aria-label="Email"> 
                <i class="fas fa-envelope-square"></i>
            <a href="https://www.facebook.com/" aria-label="Facebook"> 
                <i class="fab fa-facebook-square"></i></a>
            <a href="https://www.twitter.com/" aria-label="Twitter"> 
                <i class="fab fa-twitter-square"></i>

            <br>
        </footer>
    </section>


    </body>
</html>